/*img.posterImages {
    width: 300px;
    height: 200px;
}
*/
body {
    background-image: url('wall.png');
    background-repeat: repeat;
    text-align: center;
    font-family: 'Lobster', serif;
    font-size: 80px;
    color: #d3d3d3;
    height: 100%;
}

.nav-tabs {
    font-size: 15px;
    font-family: 'Vast Shadow', cursive;
    margin: 10px;

}

h2 {

    font-family: 'Vast Shadow', cursive;
    font-size: 17px;
    color: #ff6666;
}

.navbar-fixed-bottom {
    font-family: 'Vast Shadow', cursive;
    font-size: 10px;
    background-image: url('wall.png');
    background-repeat: repeat;
}
/*make keyframse that tell the start state and the end state*/
@-webkit-keyframes fadeIn { from {opacity: 0;} to {opacity: 1;} }
@-moz-keyframes fadeIn {from {opacity: 0;} to {opacity: 1;}}
@keyframes fadeIn {from {opacity: 0;} to {opacity: 1;}}

.fade-in {
    opacity:0; /* make things invisible upon start */
    -webkit-animation: fadeIn ease-in 1; /*call keyframe called fadeIn use animattion ease-in and repeat it only 1 time */
    -moz-animation: fadeIn ease-in 1;
    animation: fadeIn ease-in 1;

    -webkit-animation-fill-mode: forwards; /*when animation is done it remains at the last keyframe value of opacity 1*/
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
}

.fade-in.one {
    -webkit-animation-delay: 0.7s;
    -moz-animation-delay: 0.7s;
    animation-delay: 0.7s;
}

.fade-in.two {
    -webkit-animation-delay: 1.2s;
    -moz-animation-delay: 1.2s;
    animation-delay: 1.2s;
}

.fade-in.three {
    -webkit-animation-delay: 1.6s;
    -moz-animation-delay: 1.6s;
    animation-delay: 1.6s;
}

/*adding social icons to the right of the nav*/
.btn-social-icon {
    float: right;
}

.navbar-inverse {
    /*margin: 50px;*/
    border: 100px;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

.btn-default {
    background-color: #ff6666;
}

.nav-pills {
    float: right
}

.form {
    clear: both;
    overflow: auto;
    font-size: 20px;
    font-size: 20px;

}

#user {
    font-size: 15px;
    font-family: 'Oswald', sans-serif;
}


button, input, select, textarea {
    font-size: inherit;
    line-height: inherit;
    font-family: : 'Oswald', sans-serif;
    color: black;
    font-size: 10px;
}